<div class="card" style="margin: 0;" *ngIf='product'>
    <div class="card-header">
        {{ pageTitle }}
    </div>
    
    <div class="card-body" style="display: flex; justify-content: center">
        
        <img [src]='product.imageUrl' [style.width.px]='imageWidth' style='float: left; margin-right: 75px;'>
        
        <div class="card-text" >
            <p><span>Product Name: </span> {{ product.productName }}</p>
            <p><span>Product Code: </span>{{ product.productCode | lowercase | convertToSpaces: '-' }}</p>
            <p><span>Release Date: </span> {{ product.releaseDate }}</p>
            <p><span>Description: </span> {{ product.description }}</p>
            <p><span>Price: </span> {{ product.price | currency:'USD':'symbol':'1.2-2' }}</p>
            <p style="display: flex;"><span>Rating: </span> &nbsp;
            <pm-star 
                [rating]='product.starRating'
                (ratingClicked)='onRatingClicked($event)'
                style="display: inline-block;"
            ></pm-star></p>

        </div>
    </div>
        

    <div class="card-footer">
        <button (click)='onBack()' 
            class='btn btn-outline-secondary'
            style='width: 80px;'>
            <i class='fa fa-chevron-left'></i> 
            Back
        </button>
    </div>
</div>
