<div class="crop"
     [style.width.px]="starWidth"
     [title]="rating">
  <div (mouseleave)='onExit()' style="width: 75px">
    
    <span *ngFor='let rating of starRange'
      (mouseenter)='onEnter(rating)' 
      (click)='onClick(rating)' 
      class="fa fa-star"
      >
    </span>
  
  </div>
</div>