<nav class="navbar bg-primary">
  <h1 style="color: white;">{{ pageTitle }}</h1>
  <ul class="nav nav-pills">
    <li><a [routerLink]="['/welcome']" [ngClass]="homeList">Home</a></li>
    <li><a [routerLink]="['/products']" [ngClass]="productsList">Products</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>